doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Desaf&iacute;o 10
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')

body
    .container.p-4
        .row.offset-md-3
            .col-md-6
                h1 Guardar producto
            .col-md-6
                a.btn.btn-primary(href='http://localhost:8080/productos/vista') Ver Productos
        .row.mt-5
            .col-md-6.offset-md-3
                .card
                    .card-body
                        form(action='/api/productos/guardar' method='POST')
                            .form-group.mb-3
                                input.form-control(type='text' name='title' placeholder='Nombre de producto')
                            .form-group.mb-3
                                input.form-control(type='number' name='price' placeholder='Precio')
                            .form-group.mb-3
                                input.form-control(type='text' name='thumbnail' placeholder='Link de imagen')
                            .form-group
                                button.btn.btn-success.btn-block(type='submit') Cargar producto
    
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js' integrity='sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT' crossorigin='anonymous')
